/*importamos fuentes, import siempre arriba*/
@font-face {    /*font face le pone nombre a una familia, se puede cambiar el nombre aqui*/
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Regular.woff2') format('woff2'),
        url('../fonts/Lato/Lato-Regular.woff') format('woff'),
        url('../fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Dancing Script';
    src: url('../fonts/DancingScript/DancingScript-Regular.woff2') format('woff2'),
        url('../fonts/DancingScript/DancingScript-Regular.woff') format('woff'),
        url('../fonts/DancingScript/DancingScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/*pseudoclases (como variables, aqui podemos asignar propiedades para que luego se repitan en cualquier parte*/
:root{
    --color_fondo_primario:#053617;
    --color_texto_primario:#aaa;    /*color texto que ira sobre el fondo primario*/
}
/*resetear config predeterminada navegador*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Lato,Arial,Helvetica,sans-serif;    /*fuente predeterminada*/
}
h1,h2{
    font-family: "Dancing Script";  /*comillas porque 2 palabras, se puede poner nombre 1 palabra arriba en import*/
}

/*busca cualquier imagen dentro de header, así hija: 'header img', header contiene las imagenes
header img{}*/
header img{
    width:100%; /*como no tenemos margener(margin:0) va de borde a borde*/
    display:block; /*para quitar linea blanca entre imagen y nav, para que se comporte como bloque en vez de linea(img por defecto comportamiuento como linea)*/
}
h1{
    position:absolute;
    top:10vw;
    right:7vw;
    color:aliceblue;
    font-size:5vw; /*variable width*/
}
h2{
    font-size: 2.8vw;
    padding:.5rem;
}

.fondo_oscuro{  /*en clase para usar varias veces donde se necesite y para cambiarlo facilmente*/
    background-color:var(--color_fondo_primario);    /*funcion var() detecta que "variables" tienes declaradas*/
    color:var(--color_texto_primario)
}
.columna_central{
    max-width: 1000px;
    margin:0 auto;
}
/*PARA CENTRAR: margin: si 1 valor(aplica a todos(up,dn,lt,rt), si 2 up y dn, si 3 (up y dn)+rt+lft, si 4 las 4 en orden horario)>>top right bottom left
margin: 0 auto;>>top+bottom 0 margin y rt lf reparte automaticamente el margen que le queda*/
nav{
    height: 80px;
    /* display:flex;
    justify-content:center;
    align-items:center; */
    align-content: center;  /*para centrar los elementos sobre el nav*/

    ul{ /*SOLO para lista dentro de nav*/
        /*max-width: 1000px;  como maximo, diseño elastico, no va a crecer mas de 1200 pero hasta entonces se expande*/
        margin: 0 auto;
        display: flex;  /*para flex, tiene li de hijos, por herencia se lo dice a los li, por defecto funciona de forma solo horizontal*/
        justify-content: space-between;    /*aqui ya se lo decimos al flex*/
        
    }
    li{
        list-style: none;   /*para quitar los puntos de la lista, pero sigue siendo una lista*/
        padding:.5rem 1rem; /*funciona igual que el margin/ .5 up/down 1lados*/
        border-top: 5px solid transparent;  /*para que no se mueva, se mueve porque no hay borders y al crearlos se mueve, los creamos aqui y que no se vean*/
        border-bottom: 5px solid transparent;

        &:hover{    /*efecto hover, para efectos*/
            border-top: 5px solid white;
            border-bottom: 5px solid white;
            color:white;
        }
    }
    /*los enlaces no reciben herencia, hay que decirselo directamente*/
    a{
        color: inherit; /*le decimos que lo herede de la clase fondo oscuro (que contiene nav)*/
        text-decoration: none;
        font-size: 1.5rem;
    }
}
/* seccion son las barras laterales, dentro de ahí cajas */
section > div{  /*hijo directo de seccion, div*/
    display: flex;
    div{    /*todos los div dentro de este flex*/
        width: 100%;    /*que el texto ocupe 100%*/
        align-content: center;
        h2{
            padding:.5rem;  /*pequeño padding para que no rebose a la imagen*/
        }
        p{
            font-size: 1.25rem; /*20px*/
            padding:.5rem;
        }
        overflow: hidden;   /*esto al div porque es el que tiene que ocultar el overflow de la transicion*/
    }
    img{    /*como solo hay una imagen por seccion se puede poner aqui*/
        width: 100%;    /*para que la imagen ocupe lo mismo que el texto*/
        display: block;
        transition: transform 1s ease;
        &:hover{    /*que cuando el raton pase por encima...*/
            transform: scale(1.2);
        }
    }
    video{
        width: 100%;
        display:block;
    }
}
section > h2{   /*tambien con clase o id*/
    text-align: center;
    /* margin-top: 30px; margin top igual abajo*/
    margin: 2rem 0 1rem 0;  /*margins arriba y abajo*/
}
.opiniones{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: flex-start;

    q{
        font-size: 1.25rem;
    }
    cite{
        color:red;
        display:block;  /*porque es de linea, hay que hacerla block*/
        text-align: right;
        font-size: 1.3rem;
        padding-right: 5px; /*porque se veía cortado*/
    }
}
footer{
    margin-top: 2rem;   /*2 porque es el que tiene tambien el de arriba*/
    height: 200px;
    display:flex;
    justify-content: space-around;
    li{
        list-style: none;
    }
}
.flex{
    display: flex;
}
.socials{
    display: flex;
    justify-content: space-around;
    
    img{
        display:block;
        width: 15%;
    }
}